body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;

  background: url('../assets/neon-bg.png') no-repeat center center/cover;

  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  font-size: 15px;
}

.navbar h2 {
  font-weight: 500;
}

.menu a {
  margin-left: 35px;
  text-decoration: none;
  color: white;
  opacity: 0.75;
  transition: 0.3s;
}

.menu a:hover {
  opacity: 1;
}

/* CENTER CONTENT */
.main {
  text-align: center;
  margin-top: 160px;
}

/* NAME (PIXEL MATCH GRADIENT) */
.name {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;

  background: linear-gradient(
    90deg,
    #00eaff 0%,
    #3b82f6 35%,
    #8b5cf6 65%,
    #ff00cc 100%
  );

  -webkit-background-clip: text;
  color: transparent;
}

/* ROLE */
.role {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
}

/* TOOLS */
.tools {
  margin-top: 25px;
  font-size: 15px;
  letter-spacing: 2px;
  color: #d1d5db;
}

/* CV BUTTON */
.cv-btn {
  display: inline-block;
  margin-top: 35px;

  padding: 10px 35px;
  border-radius: 30px;

  border: 1.5px solid #00eaff;
  color: #00eaff;

  text-decoration: none;
  font-size: 15px;

  transition: 0.3s;
}

.cv-btn:hover {
  background: #00eaff;
  color: black;
}